.bike{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: var(--padding);
    gap : var(--gap);
    .singleImage{
        width :100%;
        height: auto;
        padding-bottom: 0;
    }
    .singleArticle{
        width : calc(50% - var(--gap));
    }
    .singleTable{
        width :calc(50% - var(--gap));
    }
    .singleSlider{
        width :100%;
    }
    .singleLink{
        width :100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .singleButton{
        position: absolute;
        top : calc(var(--padding)*2);
        right : var(--padding);
        border: 1px solid var(--element-color);
        background: var(--element-background-color);
        color : var(--element-color);
    }
    @media screen and (max-width: 767px) {
        .singleButton{
            font-size: 16px;
        }
        .singleArticle{
            width : 100%;
        }
        .singleTable{
            width :100%;
        }
    }

}
