
.preloader{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    animation: move-left 2s linear infinite;
    svg{
        width: 100%;
        height: 100%;
    }
}

@keyframes move-left {
    from {
      left: 0%;
    }
    to {
      left: calc(100% - 100px);
    }
  }