
.preloader{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    animation: move-rotate 2s linear infinite alternate;
    svg{
        width: 100%;
        height: 100%;
    }
}

@keyframes move-rotate {
  from {
    left: 0%;
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    left: calc(100% - 100px);
    transform: translateY(-50%) rotate(360deg);
  }
}