.preloader {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  animation: move-flip 4s ease-in-out infinite;
  svg {
    width: 100%;
    height: 100%;
    transform-origin: center; 
  }
}

@keyframes move-flip {
  0% {
    left: 0%;
  }
  100% {
    left: calc(100% - 100px);
  }
}
