.list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap);
    background: var(--background-color);
    .cart{
        position: relative;
        width :100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: var(--gap);
        padding : 10px;
        border-bottom: 1px solid var(--element-background-color);
        color: var(--text-color);
        article{
            width :100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: var(--gap);
        }
        img{
            min-width: 300px;
            width : 20%;
            height: auto;
        }
        h3{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        strong{
            font-size: 25px;
        }
        p{
            font-size: 22px;
        };

        button{
            position: relative;
            margin-left: auto;

            &:hover, &:active{
                background-color: var(--element-color);
                color :var(--element-background-color);
                border: 1px solid var(--element-background-color);
            }
        }

        @media screen and (max-width: 767px) {  
            img{
                min-width : 100%;
            }
            &.cart{
                flex-direction: column;

            }
        }
    }

}
.empty{
    position: absolute;
/* centerd */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
}
