.header,
.navigation,
.main,
.footer{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    &>*{
        flex :1;
        flex-shrink: 0;
    }
}

.header{
    position: fixed;
    width: 100%;
    height: var(--header-height);
    inset: 0 0 auto 0;
    z-index: 99;
    background: var(--element-background-color);
}
.navigation{
    position: fixed;
    width: 100%;
    height: var(--navigation-height);
    background: var(--navigation-bg-color);
    top: var(--header-height);
    z-index: 99;
}
.main{
    position: inherit;
    width: 100%;
    background: var(--main-background-color);
    padding-top: calc(var(--header-height) + var(--navigation-height));
    min-height: calc(100vh - var(--footer-height));
    min-height: calc(100svh - var(--footer-height));
    section{
        background: var(--background-color);
        border-radius: 0 0 var(--radius) var(--radius);
    }
}

.footer{
    position: inherit;
    width: 100%;
    min-height: var(--footer-height);
    background: inherit;
}