

.header{
    position: fixed;
    width: 100%;
    height: var(--header-height);
    inset: 0 0 auto 0;
    z-index: 99;
    background: var(--element-background-color);
}
.main{
    position: inherit;
    width: 100%;
    background: inherit;
    padding-top: var(--header-height);
    min-height: calc(100vh - var(--footer-height));
    min-height: calc(100svh*2 - var(--footer-height));
}

.footer{
    position: inherit;
    width: 100%;
    min-height: var(--footer-height);
    background: var(--element-background-color);
}