
.bikeLink{
    border: 1px solid var(--element-color);
    display: block;

    padding :5px;
    height: 100%;
    width :100%;
    width : var(--link-width);
    max-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover, &:active{
        color : var(--element-color);
        background: var(--element-background-color);
    }
}

.active{
    color : var(--element-color);
    background: var(--element-background-color);
}