
.bikeLink{
    position: relative;
    padding : 5px;
    border: 1px solid var(--element-color);
    transition: var(--transition);
    max-width:240px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.active{
    color : var(--element-color);
    background: var(--element-background-color);
}