.link{
    position: relative;
    border: 1px solid var(--element-background-color);
    transition: var(--transition);
    padding : 5px;
}

.active{
    background: var(--element-color);
    color : var(--element-background-color);
}