.description {
    position: relative;
    height: inherit;
    color :var(--text-color);   
    padding: var(--padding) 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    @media (max-width: 767px) {
        .title {
            display: none;
        }

        .status {
            font-size: 22px;
            text-align: center;
        }

        .info {
            display: none;
        }

        .price {
            font-size: 22px;
            margin-top: 0;
        }

        .rating {
            font-size: 22px;
        }
    }
}

.title {
    font-size: 25px;
    text-align: center;
}

.status {
    font-size: 25px;
    text-align: center;

}

.price {
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
}

.rating {
    font-size: 25px;
    font-weight: bold;

}

.info {
    font-size: 1.5rem;
}


.link {
    margin-top: auto;
    position: relative;
    width: 100%;
    background: var(--element-background-color);
    transition: var(--transition);

    &:hover {
        border: 1px solid var(--element-background-color);
        color: var(--element-background-color);
        background-color: var(--background-color);
    }
}