
.promotionCard{
    position: relative;
    background: var(--background-color);
    border-radius: var(--radius);
    img:nth-child(1){
        width: 100px;
    };
    img:nth-child(2){
        width: 200px;
    };
    h3{
        color: var(--text-color);
    }

}