ul{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.menu{
    width : 100%;
    height: 100%;
    background: inherit;
    position: relative;
    padding : var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--element-color);
}
.nav{
    width : 100%;
    height: 100%;
    background: var(--background-color);
    color: var(--element-background-color);
    position: relative;
    padding : var(--padding);
    border-bottom: 1px solid var(--element-background-color);

    li:nth-child(3){
        margin-left: auto;
    }
}