.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
   padding-top: var(--padding);

    li {
        width: 100%;
        display: flex;
        gap: var(--gap);

        img {
            height: auto;
            width: 100%;
        }

        article {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            border: 1px solid var(--element-background-color); 
            border-radius : var(--radius);
            padding :10px;
            p, span{
                margin-bottom: var(--gap);
            }
            span{
                width :100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap : var(--gap);
                h4 {
                    font-style: 25px;
                }
    
                p {
                    font-size: 22px;
                }
            }

            a {
                margin-left: auto;
                margin-top: auto;
                width: auto;
                max-width: 360px;
                white-space: nowrap;
                width: 100%;
                background: var(--element-background-color);
                color: var(--background-color);

                &:hover {
                    border: 1px solid var(--element-background-color);
                    color: var(--element-background-color);
                    background-color: var(--background-color);
                }
            }
        }

        @media screen and (max-width: 767px) {
            & {
                flex-direction: column;
                align-items: center;
            }

            img {
                /* flex-shrink: 0; */
                width :100%;
                height: auto;
            }

            article {
                h4 {
                    text-align: center;
                }

                a {
                    margin: 0;
                    max-width :100%;
                }
            }
        }

    }
}