.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
        width: 100%;
        display: flex;
        gap: var(--gap);

        img {
            height: 300px;
            width: auto;
        }

        article {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            h4 {
                font-style: 25px;
                margin-bottom: 10px;
            }

            p {
                font-size: 22px;
                margin-bottom: 5px;
            }

            a {
                margin-left: auto;
                margin-top: auto;
                width: auto;
                max-width: 360px;
                white-space: nowrap;
                width: 100%;
                background: var(--element-background-color);
                color: var(--background-color);

                &:hover {
                    border: 1px solid var(--element-background-color);
                    color: var(--element-background-color);
                    background-color: var(--background-color);
                }
            }
        }

        @media screen and (max-width: 767px) {
            & {
                flex-direction: column;
                align-items: center;
            }

            img {
                flex-shrink: 0;
            }

            article {
                h4 {
                    text-align: center;
                }

                p {
                    display: none;
                }

                a {
                    margin: 0;
                    max-width :100%;
                }
            }
        }

    }
}