.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .content {
        background: white;
        padding: var(--padding);
        border-radius: var(--radius);
        max-width: 500px;
        height: auto;
        min-height: 500px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap);

    }

    .item{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: self-start;
        gap: var(--gap);
        border-bottom: 1px solid var(--element-background-color);
        &:last-child{
            border-top: 1px solid var(--element-background-color);
        }
        .info{
            width :100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: var(--gap);
        }
        .image{
            position: relative;
            max-width : 100px;
            height: 100px;
            padding :0;
        }
    }

    button{
        border: 1px solid var(--element-background-color);
        padding :5px;
        height: 100%;
        width :100%;
        width : var(--link-width);
        max-height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--transition);
        background: var(--element-background-color);
        color: var(--element-color);
        font-size: 22px;
        text-transform: capitalize;
        &:hover, &:active{
            color : var(--element-background-color);
            background: var(--element--color);
        }
    }
    p{
        font-size: 22px;
        font-weight: bold;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        width :100%;
        justify-content: space-between;
        align-items: center;
        gap: var(--gap);
        margin-top: auto;
    }
}