:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* vriables */

  --background-color: #ffffffd3;
  --decoration-color : #85a391;
  --element-color: #E0E0E0;
  --element-background-color: #4a6855;
  --navigation-bg-color: #E0E0E0;
  --text-color: #000000;
  --title-color: #2d2d2d2d;

  --max-width: 1400px;
  --container-padding: 20px;
  --header-height: 90px;
  --footer-height: 120px;
  --radius: 10px;
  --padding: 0 50px;


  /* desktop */
  @media screen and (max-width: 1401px) {
    --padding: 0 30px;
  }

  /* tablet */
  @media (min-width: 768px) and (max-width: 1400px){
    --padding: 0 20px;
  }

  /* mobile */
  @media (max-width: 767px) {
    --padding: 0 10px;
  }
}
body{
  background: var(--decoration-color) url('../main-bg.webp') fixed;

  color: var(--text-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}


::-webkit-scrollbar {
  width: .5vw; /* Ширина вертикального скроллбара */
  height: 5px; /* Высота горизонтального скроллбара */
  
}

::-webkit-scrollbar-thumb {
  background-color: var(--element-background-color); /* Цвет ползунка */
  cursor: pointer;
  border : 1px solid var(--decoration-color);
  border-radius: var(--radius);
}

::-webkit-scrollbar-track {
  background: var(--decoration-color); /* Цвет трека */
}