:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* vriables */

  --background-color: #ffffffd3;
  --decoration-color : #85a391;
  --element-color: #E0E0E0;
  --element-background-color: #4a6855;
  --navigation-bg-color: #E0E0E0;
  --text-color: #000000;
  --title-color: #2d2d2d2d;
  --active-color: rgb(219, 2, 2);

  --max-width: 1400px;
  --header-height: 90px;
  --footer-height: 120px;
  --bottom-height: 0;
  --radius: 10px;
  --padding: 50px;
  --gap: 20px;
  --transition : all .5s;


  /* desktop */
  /* @media screen and (max-width: 1401px) {
  } */

  /* tablet */
  @media (min-width: 768px) and (max-width: 1400px){
    --padding: 30px;
    --gap :10px;
    --transition: all 0;
  }

  /* mobile */
  @media (max-width: 767px) {
    --padding: 10px;
    --gap: 5px;
    --bottom-height: 60px;
  }
}
body{
  background: var(--decoration-color) url('../main-bg.webp') fixed;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1rem;
  user-select: none;
}


::-webkit-scrollbar {
  width: .5vw; /* Ширина вертикального скроллбара */
  height: 5px; /* Высота горизонтального скроллбара */
  
}

::-webkit-scrollbar-thumb {
  background-color: var(--element-background-color); /* Цвет ползунка */
  cursor: pointer;
  border : 1px solid var(--decoration-color);
  border-radius: var(--radius);
}

::-webkit-scrollbar-track {
  background: var(--decoration-color); /* Цвет трека */
}