:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* vriables */

  --background-color: #ffffff;
  --decoration-color : #A8D5BA;
  --element-color: #E0E0E0;
  --element-background-color: #2C6B45;
  --text-color: #000000;
  --title-color: #333333;

  --max-width: 2560px;
  --container-padding: 20px;
  --header-height: 60px;
  --footer-height: 30px;
}
body{
  background-color: var(--background-color);
  color: var(--text-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  position: inherit;
  overflow: hidden;
}



::-webkit-scrollbar {
  width: .5vw; /* Ширина вертикального скроллбара */
  height: 5px; /* Высота горизонтального скроллбара */
  
}

::-webkit-scrollbar-thumb {
  background-color: var(--decoration-color); /* Цвет ползунка */
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: var(--background-color); /* Цвет трека */
}