.contacts{
  position: relative;
  border: solid 1px var(--element-background-color);
  border-radius: var(--radius);
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap :var(--gap);
  overflow: hidden;
  padding: 16px;

  .menu{
    max-width: 150px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--gap);


    .contactItem{
      display: flex;
      gap: var(--gap);
    }
    li{
      background: transparent;
      transition : all .3s;
      display: flex;
      align-items :center;
      padding :5px;
      cursor: pointer;

      .icon{
        font-size: 30px;
        background: inherit;
        color: var(--element-background-color);
        transition : all .3s;
        margin-top: 5px;
      }
      p{
        transition : all .3s;
        font-weight: bold;
        color: var(--element-background-color);
      }
      &:hover{
        background: var(--element-background-color);
        .icon{
          font-size: 30px;
          background: inherit;
          color: var(--element-color);
        }
        p{
          color: var(--element-color);
        }
      }

    }

  }
  @media (max-width: 767px) { 
    /* background: red; */
    flex-wrap: wrap;
    .menu{
      width: 100%;
      max-width : none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      .icon{
        margin: var(--gap)
      }
      p{
        display :none;
      }
    }

  }
  iframe{

    width: 100%;
  }
}