.sliderWrapper {
    position: relative;
    overflow: auto;
    .slider{
        position: relative;
        height: 100%;
        min-height: 700px;
        display: flex;

    }
    .slide{
        position: relative;
        opacity: 0;
       height :100%;
        flex:1;
    }
    .active{
        background :red;
        opacity: 1;
    }
    .prevButton, .nextButton{
        position :absolute;
        background: transparent;
        border: none;
        outline: none;
        color: var(--element-background-color);
        padding: 10px;
        font-size: 50px;
        top: calc(50% - 50px/2);
    }
    .prevButton{
        left: 0;
    }
    .nextButton{
        right :0;
    }
}
