.sliderWrapper {
  position: relative;
  overflow: auto;
  background: var(--element-background-color);
  border-radius: var(--radius);
  .slider {
    position: relative;
    min-height: 700px;
    display: flex;
    @media (max-width: 767px) {
      min-height: 300px;
    }
  }
  .slide {
    position: absolute;
    transition: all 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: contain;
    inset: 0;
    opacity: 0;
    opacity: 0;
    height: 100%;
    flex: 1;
  }
  .active {
    opacity: 1;
  }
  .prevButton,
  .nextButton {
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    color: var(--element-color);
    padding: 10px;
    font-size: 40px;
    top: calc(50% - 40px);
    width: 80px;
    height: 80px;
    line-height: 0;

    overflow: hiden;
    user-select: none;
    svg{
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }
    &:hover , &:active{
      outline: none;
    }
  }
  .prevButton {
    left: 0;
  }
  .nextButton {
    right: 0;
  }
}
