.banner {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap :var(--gap);
  .image{
    position: relative;
    flex :1.5;
  }
  .description{
    position: relative;
    flex :1;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    .image{
      position: relative;
      flex : 0;
    }
    .description{
      position: relative;
      flex :1;
    }
  }
  

}

@media (max-width: 767px) {
  .banner{
    grid-template-columns: auto;
    grid-template-rows: 40px auto 30% 50px;
    grid-template-areas: "title "
    "image"
    "description"
    "link"
  }
}
