.banner {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap :var(--gap);
  .image{
    position: relative;
    flex :1.5;
  }
  .description{
    position: relative;
    flex :1;
    padding :1rem;
    border: 1px solid var(--element-background-color); /* Граница вокруг статьи */
    border-radius: var(--radius);
    background-color: var(--background-color);
    h4 {
      font-style: 25px;
      margin-bottom: 10px;
    }


    p {
      font-size: 22px;
      margin-bottom: 5px;
    }
  }
  a{
    color : var(--element-color);
  }
  @media (max-width: 767px) {
    flex-direction: column;
    .image{
      position: relative;
      flex : 0;
    }
    .description{
      position: relative;
      flex :1;
    }
  }
  

}

